{% extends "polls/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block content %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create/Update a Poll</legend>
      <div id="form_set">
        {% bootstrap_form form %}
      </div>
      <legend class="border-bottom mb-4">Choices</legend>
        {{ choices.management_form }}
        {% for choice_form in choices %}
          <div id="form_set_choice">
            {% bootstrap_form choice_form %}
          </div>
        {% endfor %}
    </fieldset>
    <input class="btn btn-outline-info" type="button" value="Add More" id="add_more">
    <div id="empty_form" style="display:none">
      <fieldset class="form-group">
          {{ serviceFormset.empty_form|crispy }}
      </fieldset>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Post</button>
    </div>
  </form>
</div>
<script type="text/javascript">
  $('#add_more').click(function() {
      var form_idx = $('#choice_form-TOTAL_FORMS').val();
      $('#form_set_choice').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
      $('#choice_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });
</script>
{% endblock content %}